.navbar{
    background: var(--default_color);
    width:100%;
    position: sticky;
    top: 0;
    z-index: 1020;
    height:20%;
}
.innerDiv{
     padding:20px;
    display: flex;
    
    font-family: var(--primary_font);
    color: var(--primary_color);
}
.logo{
    width:35%;
}
.menuDiv{
    width:40%;
}
.menuList{
  font-family: var( --primary_font);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;

}
.list{
 
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}
.listLink{
  font-size: 17px;
  font-weight: 600;
  font-family: var( --secondary_font);
    text-decoration: none;
    color:var(--primary_color)
}
a.active {
    color: black;
  }

  .btnDiv{
    width: 25%;
    padding-left: 4rem;
  }
  .btn{
    font-family: var( --primary_font);
    font-size: 15px;
        padding: 10px 40px 9px;
        color: var(--accent_color);
    /* font-family: var(--secondary_font); */
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 100px;
    background: var(--secondary_color);
    padding: 10px 40px 9px;
    border: 1px solid var(--secondary_color);
    position: relative;

  }
  .btnLink{
    text-decoration: none;
    color: var(--accent_color);
  }
  .btn:hover{
    background: var(--primary_color);
    border: 1px solid var(--primary_color);
  }
  .logo{
  padding-left: 130px;
  }
  
  .logoDiv img{
    width:150px;
    height:35px
  }